*{
    text-align:center;
    margin:0;
    border:0;
  }
  header{
    text-align:center;
    color:white;
    font-family:Tahoma;
    background-color:black;
    padding:30px;
    box-shadow: 0 0 1em aquamarine;
  }
  .bloco{
    font-family:Tahoma;
    border-bottom:solid 2px black;
    width:31%;
    position:relative;
    left:35%;
  }
  p{
    font-family:Tahoma;
  }
  .techs{
    border-bottom:solid 2px black;
    width:31%;
    position:relative;
    left:35%;
  }
  .slider label {
      background-color: #000;
      bottom: 10px;
      cursor: pointer;
      display: block;
      height: 10px;
      position: absolute;
      width: 10px;
      z-index: 10;
  }
  
  .slider li:nth-child(1) label {
      left: 10px;
  }
  
  .slider li:nth-child(2) label {
      left: 40px;
  }
  
  .slider li:nth-child(3) label {
      left: 70px;
  }
  .slider img {
      opacity: 0;
      visibility: hidden;
  }
  
  .slider li input:checked ~ img {
      opacity: 1;
      visibility: visible;
      z-index: 10;
  }
  .slider input {
      display: none;
  }
  .slider {
      display: block;
      height: 293px;
      width: 600px;
      margin: auto;
      margin-top: 20px;
      position: relative;
  }
  
  .slider li {
      list-style: none;
      position: absolute;
  }
  
  .slider img {
      margin: auto;
      height: 100%;
      width: 100%;
      vertical-align: top;
  }
  .navbarr{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 31%;
    gap:30px;   
}
a{
padding: 6px;
background-color: blueviolet;
color: white;
font-family: Tahoma;
border-radius: 4px;
text-decoration: none;
}

  button{
  border-radius: 5px;
  }
  .humCabeca{
  padding: 70px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Physical_World_Map.svg/440px-Physical_World_Map.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.natCabeca{
  padding: 70px;
  background-image: url(https://images.even3.com.br/ApYyFTZRZEZUdTYfgqW5vOgfgg8=/1300x536/smart/even3.blob.core.windows.net/banner/Designsemnome1.175dd8661dfc45c5a1f9.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.matCabeca{
  padding: 70px;
  background-image: url('img/math.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
}
.lingCabeca{
  padding: 70px;
  background-image: url('https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/languages-signpost.jpg?itok=VSbR4uZ9');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
}
.sobHead{
  padding: 70px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkVUY5dzR7kZcmoVRJFfLahatbnuoc_1sRkw&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
}
.fotos{
display: flex;
flex-wrap: wrap;
justify-content: space-around;}